<!-- <input type="button" value="logout" (click)=logOff()><br> -->




<body class="hm-gradient">
    
    <main>
        
        <!--MDB Navbars-->
        <div class="container ">

          
            <!--Navbar blue-->
            <nav class="navbar navbar-expand-lg navbar-dark teal mb-4">
                <h1 class="navbar-brand" [routerLink]="['dashboard']">Anguar Chat</h1>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div  class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" [routerLink]="['profile']">Profile <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a (click)="logOff()" class="nav-link">Log Out</a>
                        </li>   
                    </ul>
                   
                </div>
            </nav>
            













<!-- <nav class="navbar navbar-expand-sm navbar-light bg-primary">
    <a class="navbar-brand" href="#" >Angular Social</a>
    <button (click)="openNav()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul [class]="navClass">
          <li class="nav-item">
              <button  [routerLink]="['profile']" type="button" class="btn-sm btn btn-light">{{user.firstname}} {{user.lastname}}</button>
            </li>
        <li  class="nav-item">
            <button   type="button" class="btn-sm btn btn-default" (click)=logOff()>Log Out</button>
          </li>
   
  
      </ul>
    </div>
  </nav> -->