<div class="container">
    <div class="row centered-form">
    <div class="col-xs-12 col-sm-12 col-md-12 col-sm-offset-12 col-md-offset-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Sign in</h3>
         </div>
         <div class="panel-body">
          <form role="form" (submit)="onRegisterSubmit()" #f="ngForm">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" ngModel #firstname=ngModel name="firstname" class="form-control input-sm" placeholder="First Name"  required>
                  <span *ngIf="!firstname.valid && firstname.touched">please enter your firstname</span>

                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" ngModel #lastname=ngModel name="lastname" class="form-control input-sm" placeholder="Last Name" required>
                  <span *ngIf="!lastname.valid && lastname.touched">please enter your lastname</span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <input type="email" ngModel #email=ngModel name="email" class="form-control input-sm" placeholder="Email Address" required email>
              <span *ngIf="!email.valid && email.touched">please enter a valid email</span>

            </div>

            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="password" ngModel #password=ngModel name="password" minlength="5" required class="form-control input-sm" placeholder="Password">
                  <span *ngIf="!password.valid && password.touched">Password must be at least 5 character's long</span>

                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="password" ngModel #Cpassword=ngModel name="Cpassword" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password" minlength="5" required>
                  <span *ngIf="Cpassword.touched && Cpassword.value != password.value">Password's do not match</span>

                </div>
              </div>
            </div>
            
            <input [disabled]="!f.valid" type="submit" value="Register" class="btn btn-info btn-block">
          
          </form>
        </div>
      </div>
    </div>
  </div>
</div>